// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.background{
    background: #F5F5F5;
    //background: red;
}

.flex-container-mobile{
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.sub-title{
    text-align: left;
    color: white;
    background: #0EBBBF; 
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 350px;

    h4{
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        color: #fff;
    }
}



.mini-nav-container{
    height: 40px;
    background: #0EBBBF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #fff;
}

.mini-nav-item{

    padding-right: 15px;
    padding-left: 15px;
    h4{
        margin: 0;

    } 
}

.mini-nav-btn{
    height: inherit;
    padding-right: 15px;
    padding-left: 15px;
    background: #0EBBBF;
    color: #fff;

    &:focus{
        background: #0B989C;
        transition: all .3s ease-out;
    }
}


.info-block-small{
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 7px 7px 55px -19px rgba(0,0,0,0.75);
    text-align: center;

    width: 85px;
    margin-top: 10px;

    &:nth-child(3n + 2){
        margin-right: 15px;
        margin-left: 15px;
    }

    p{
        margin: 0;
        font-size: 12px;
    }

    img{
        width: 64px;
        height: 64px;
    }
}

.total-progress{
    background: #0EBBBF;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 10px;
    padding-left: 15px;
    color: #fff;
    margin-bottom: 10px;

    p{
        margin: 0;
    }

    .col-3{
        text-align: center;
    }

    img{
        width: 40px;
        height: 40px;
        
    }
}

.progress-bar{
    width: 100%;
    height: 5px;
    background: #fff;
    border-radius: 5000px;
    position: relative;

}

.inner-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    background: #075A5C;
    border-radius: 5000px;
}

.form-section,
.submit-btn{
    background: #0EBBBF;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    max-width: 350px;
    margin: 20px auto;
    margin-top: 0;

    p{
        margin: 0;
        margin-bottom: 10px;
    }
}

label{
    display: block;
    font-size: 1.2em
}

input, select{
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    color: #454545;
    border: none;
    border-bottom: 1px #0B989C solid;
    background: none;
    font-size: 1.2em;

    &::placeholder{
        color: #454545;
    }
}

.input-container-2{
    display: inline-block;
    width: 49%;
}

.input-container-3{
    display: inline-block;
    width: 32%;
}



.submit-btn{
    text-align: center;
    transition: all .3s ease-in;
    font-size: 1.2em;
    color: white;
    width: 100%;

    &:focus{
        background: #0B989C;
    }
}

.long-btn{
    text-align: center;
    transition: all .3s ease-in;
    font-size: 1.2em;
    color: white;
    background: #0EBBBF; 
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 350px;

    &:focus{
        background: #0B989C;
    }
}

//The containers for the general information you see on the more detail page
.info-gauge-container{
    text-align: center;
    margin: 20px auto;
    color: #454545;
    max-width: 350px;
}

.info-gauge{
    display: inline-block;
    padding: 0 15px;
    margin-top: 10px;
    width: calc((100% / 3) - 5px);
    

    img{
        width: 32px;
        height: 32px;
    }
    
    &:nth-child(2), &:nth-child(5){
        border-left: 1px #0EBBBF solid;
        border-right: 1px #0EBBBF solid;
    }

    h5 {
        margin: 0;
        color: #075A5C;
        
    }

    p{
        color: #0EBBBF;
    }
    
}

.search-container{
    height: 50px;
    background: #0EBBBF;
    max-width: 350px;

    input{
        border: 1px #0EBBBF solid;
        height: 50px;
        background: #fff;
        font-size: 1.5em;
    }

    button{
        background: transparent;
        width: 100%;
        height: 50px;
        color: #fff;
        border-right: 1px #0B989C solid;
    }
}

.search-result-container{
    max-width: 350px;
    margin: auto;
}

.search-result{
    width: 100%;
    padding: 10px;
    border-top: 1px #0EBBBF solid;
    background: #fff;
    text-align: left;

    p{
        margin: 0;
        
        &:first-child{
            margin-bottom: 5px;
            color: #0EBBBF;
        }
    }
}

.more-info{
    background: #0EBBBF;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
}

.more-info-item{
    display: block;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;

    p{
        margin: 0;
    }
}

.data-error{
    margin: 20px auto;
    h1{
        color: #0EBBBF;
    }
    p{
        color: #075A5C;
    }
}

.secondary-color{
    color: #075A5C;
}

/************************NEW SCSS MARKUP*******************************/

/*************************BASIC THEMES*************************/

select,
input{
    height: 40px;
    color: #454545;
}

h1, h2, h3,h4,h5{
    margin: 0;
}

.board{
    background: #fff;
    padding: 10px;
    margin-top: 20px;
    //border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px -9px rgba(158,156,158,1);
    -moz-box-shadow: 10px 10px 5px -9px rgba(158,156,158,1);
    box-shadow: 10px 10px 5px -9px rgba(158,156,158,1);

}

.inner-board{
    background: #0EBBBF;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.title{
    padding-left: 10px;
    h4{
        line-height: 40px;
    }
    
}

.no-padding{
    padding: 0;
}

/*************************Buttons*************************/

.mini-btn{
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    background: #0EBBBF;
    color: #fff;

    &:focus{
        background: #0B989C;
        transition: all .3s ease-out;
    }
}


/*************************GRIDS AND GUIDES*************************/

.row{
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/****NEW COLUMNS****/

.col-30{
    width: 30%;
}

.col-50{
    width: 50%;
}

.col-70{
    width: 70%;
}

.col-1{
    width: 10%;
    float: left;
}

.col-15{
    width: 15%;
    float: left;
}

.col-2{
    width: 20%;
    float: left;
}

.col-3{
    width: 30%;
    float: left;

}

.col-4{
    width: 40%;
    float: left;
    //display: inline-block;
}

.col-5{
    width: 50%;
    float: left;
}

.col-6{
    width: 60%;
    float: left;
    //display: inline-block;
}

.col-7{
    width: 70%;
    float: left;
}

.col-8{
    width: 80%;
    float: left;
}

/*************************INPUT AND FORMS*************************/

.general-form{
    .row{
        .input-50:first-child{
            padding-right: 5px;
        }

        .input-50:last-child{
            padding-left: 5px;
        }
    }
}

.input-50{
    width: 50%;
    float: left;
}

.input-100{
    width: 100%;
}







